@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

.Game {
  margin: 10px;
  position: relative;
  height: 1700px;
  margin-bottom: 100px;
}

.Holders {
  padding: 10px;
  border-radius: 50%;
  width: 65%;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  left: 90%;
}

.CenterTileHolder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.OutsideTileHolder {
  position: absolute;
  left: 50%;
  height: 100%;
}

.Player {
  display: inline-block;
  width: 40%;
  height: 25%;
  position: absolute;
}

.Winner {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #0d0;
  opacity: 0.8;
}

.Winner h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Board {
  position: sticky;
  width: 50%;
  height: 50%;
  top: 15%;
}

.GameTitle {
  text-align: center;
  font-family: "Merienda One";
}

.AddPlayer {
  text-align: center;
  margin-top: 10px;
  padding: 5px 0;
}

.AddPlayer label {
  margin-right: 10px;
  font-size: 1.25em;
  vertical-align: middle;
}

.AddPlayer button {
  background-color: #438934;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.25em;
  margin-left: 10px;
}

.AddPlayer button, .AddPlayer input {
  padding: 5px;
}

.AddPlayer input {
  font-size: 1.25em;
}

.Return {
  padding: 5px 0;
  position: absolute;
  top: 0;
  margin: 5px;
  font-weight: bold;
}

.ReturnLink {
  text-decoration: none;
  color: #4376aa;
  font-size: 1.25em;
}

.ReturnLink:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #4376ff;
}
