.Game {
  border: 1px solid black;
  margin: 10px;
  position: relative;
  height: 1700px;
}

.Holders {
  padding: 10px;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  position: absolute;
  right: 4%;
}

.CenterTileHolder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.OutsideTileHolder {
  position: absolute;
  left: 50%;
  height: 100%;
}

.Player {
  display: inline-block;
  width: 40%;
  height: 25%;
  position: absolute;
}
