.Board {
  height: 100%;
  position: relative;
  margin: 10px;
}

.Board::after {
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  background-color: gray;
  opacity: 0.2;
}

.Active {
  border: 5px solid #0d0;
  margin: 20px 0;
  height: 100%;
  position: relative;
  font-family: "Andale Mono";
}

.NegativeSpaces {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.NegativeSpaces h6 {
  position: absolute;
  bottom: 50%;
  display: inline-block;
}

.NegativeSpace {
  display: inline-block;
  text-align: center;
}

.NegativeSpace p {
  position: relative;
  top: 15px;
}

.PlayingSpaces {
  width: 45%;
  position: absolute;
  text-align: right;
}

.PlayingSpaces::before {
  content: '';
  position: absolute;
  border-left: 3px solid black;
  width: 100%;
  height: 100%;
  left: 110.5%;
}

.EndingSpaces {
  width: 45%;
  position: absolute;
  right: 0;
}

.Selectable {
  position: relative;
}

.Selectable::before {
  content: '-->';
  color: magenta;
  position: absolute;
  left: 0;
  top: 25%;
  box-sizing: border-box;
}
