.Board {
  height: 100%;
  position: relative;
  margin-bottom: 30px;
  width: 500px;
  border: 1px solid rgba(128, 128, 128, 0.2);
}

.Board::after {
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  background-color: gray;
  opacity: 0.2;
  margin-bottom: 30px;
}

.Active {
  background: #dbe5c1;
  border: 5px solid #8a3;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 30px;
  height: 100%;
  position: relative;
  width: 500px;
  font-family: "Andale Mono";
}

.NegativeSpaces {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.NegativeSpacesContainer {
  width: auto;
  border: 1px solid red;
}

.NegativeSpaces h6 {
  position: absolute;
  bottom: 50%;
  display: inline-block;
}

.NegativeSpace {
  display: inline-block;
  text-align: center;
}

.NegativeSpace p {
  position: relative;
  top: 15px;
}

.PlayingSpaces {
  width: 45%;
  position: absolute;
  text-align: right;
}

.PlayingSpaces::before {
  content: '';
  position: absolute;
  border-left: 3px solid black;
  width: 100%;
  height: 100%;
  left: 110.5%;
}

.EndingSpaces {
  width: 45%;
  position: absolute;
  right: 0;
}

.Selectable {
  position: relative;
}

.Selectable:hover {
  border: 2px solid #8a3;
  box-sizing: border-box;
}

.Selectable::before {
  content: '\00bb\00bb';
  color: #8a3;
  position: absolute;
  left: 0;
  top: 25%;
  box-sizing: border-box;
}
