.Tile {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  display: inline-block;
  margin: 5px;
}

.First {
  background-color: beige;
  text-align: center;
}

.First::after {
  content: "1";
}

.Yellow {
  background-color: yellow;
}

.Red {
  background-color: red;
}

.Blue {
  background-color: blue;
}

.LightBlue {
  background-color: aqua;
}

.Black {
  background-color: black;
}

.Empty {
  background-color: white;
}

.Inactive {
  opacity: 0.2;
}

.Selected {
  border: 5px solid magenta;
}
